{% extends 'base.html.twig' %}

{% block title %}New Affiliate{% endblock %}

{% block body %}
    <h1>Create new Affiliate</h1>

    {{ include('affiliate/_form.html.twig') }}

    <a href="{{ path('affiliate_index') }}">back to list</a>
{% endblock %}
